/* #navbar
{   
    height: 144px;
    width: 560px;
    padding:30px;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 16px;
    background-color: white;

} */
ul
{
    display: flex;
    list-style: none;
}
.menu-active {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.625rem;
    margin-right: 0.625rem;

    height: 5rem;
    width: 5rem;

    cursor: pointer;
    flex-direction: column;
    border-radius: 10px;

    background-color: rgb(243 246 246 / 1);  
    font-family: Poppins, sans-serif;
    font-size: .8125rem;
    font-weight: 500;
    color: rgb(68 86 108 / 1);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-active:hover {
    background-image: linear-gradient(to right, #FA5252,#DD2476);
    color: rgb(255 255 255 / 1);
  }
  .menu-item {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    display: flex;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    background-color: rgb(243 246 246 / 1);

    font-family: Poppins, sans-serif;
    font-size: .8125rem;
    font-weight: 500;
    color: rgb(68 86 108 / 1);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-item:hover {
    background-image: linear-gradient(to right, #FA5252,#DD2476);
    color: rgb(255 255 255 / 1);
  }
